:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color1: #001233;
  --color2: #efe0ca;
  --color3: #fe5000;
  --color4: #f9f3ea;
  --color5: #0d7164;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body{
  background: var(--color2);
  color: var(--color1);
}

.container_menu{
  display: flex;
  background-color: var(--color1);
  padding: 1.23rem;
  align-items: center;
  margin-bottom: 2rem;
}

.the_menu{
  display: flex;
  width: 60%;
  justify-content: space-around;
  color: var(--color1);
  align-items: center;
  font-size: 1.23rem;
  text-transform: uppercase;
}
.the_menu li{
  list-style: none;
}
.logo, .cv{
  width: 20%;
  font-size: 1.23rem;
  text-transform: uppercase;
  color: #fe5000;
}
.logo{
  margin-left: 2rem;
}
.cv{
  display: flex;
  justify-content: end;
  margin-right: 3rem;
}

.logo img{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.image{
  display: flex;
  justify-content: center;
}

.image img{
  width: 260px;
  height: 260px;
  border-radius: 50%;
}
.presentation_text_middle{
  font-size: 120px;
  color: var(--color3);
  font-weight: 500;
  width: 100%;

}

.presentation_text_top,
.presentation_text_bot{
  font-size: 30px;
  width: 100%;
}
.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* À propos*/
#apropos{
  /*height: 95vh;*/
  padding-top: 20px;
}
.apropos{
  background-color: var(--color2);
  color: var(--color1); 
}
.apropos_title{
  font-size: 20px;
  color: var(--color3);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.apropos_text{
  display: flex;
  justify-content: space-around;
}
.apropos_text_presentation{
  width: 45%;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: var(--color5);
}
.apropos_text_parcours{
  width: 55%;
  display: flex;
  flex-direction: column;
}
.apropos_text_parcours_title{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-left: 3rem;
}
.parcours_annees{
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}
.annees{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: var(--color1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  color: var(--color4);
}
.experience{
  height: 100px;
  background: var(--color1);
  color: var(--color2);
  width: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
  padding-right: 30px;
  margin-left: 0;
  border-radius: 0px 30px 0px 0px;
}
.poste{
  width: 45%;
  color: var(--color3)
}
.skils li{
 list-style-type: circle;
}
.skils{
  width: 45%;
}
input[type ="radio"]{
  transform: scale(0);
}

#certification{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  margin-top: 20px;
}
.certification_item{
  display: flex;
}
.certification_item img{
  width: 100%;
}

label{
  font-size: 18px;
color: #494b4a;
}

/*.rotated {
  transform:rotateY(180deg);
  transition:all .4s linear;
}*/


.certification_zoom img{
  width: 700px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
#toggle{
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: var(--color3);
}
.fa-times{
  background: #001233;
  width: 40px;
  height: 40px;
  align-items: center;
  display: flex;
  padding-left: 13px;
  border-radius: 50%;
}


.competence{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 4rem; padding-right: 4rem;
  padding-top: 2rem;
  background: var(--color2);
}
.competence_title{
  font-size: 20px;
  color: var(--color3);
  display: flex;
  align-items: center;
  justify-content: center;

}
.competence_text{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 2rem;
}
.competence_text_item{
  width: 43%;
}

.competence_text_lang{
  width: 43%;
  margin-top: -100px;
}
.experience_competence{
  height: 100px;
  background: var(--color1);
  color: var(--color2);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
  padding-right: 30px;
  margin-left: 0;
  margin-bottom: 20px;
  border-radius: 0px 30px 0px 0px;
}

/*#projet{
  height: 100vh;
}*/
.projet{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.projet_item{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
}

.projet_item_projet{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color1);
  border-radius: 30px;
  margin-top: 20px;
  color: #001233;
  padding: 20px;
}
.outils{
  display: flex;
  width: 100%;
}
.outils_item{
  width: 24%;
  margin-right: 20px;
  margin-top: 20px;
  background: var(--color5);
  color: #001233;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.projet_description{
  
  color: #001233;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 23px;
  line-height: 1.78rem;
}
.projet_description img{
  width: 600px;
  height: 350px;
}
strong{
  color: var(--color5);
}

.hidden{
  display: none;
}
.prev_next_bout{
  cursor: pointer;
}
.prev_bout{
  background: var(--color2);
  color: var(--color1);
  font-size: 18px;
  margin-right: 23px;
}
.next_bout{
  background: var(--color2);
  color: var(--color1);
  font-size: 18px;
  margin-left: 23px;
}

.fa-chevron-right,
.fa-chevron-left{
  color: #fe5000;
  background-color: #0d7164;
  width: 50px;
  height: 50px;
  padding: 15px;
  border-radius: 50%;
}

.box{
  clip-path: polygon(0 0, 100% 0 , 100% 100%, 0 100%);
}

.contacter_moi{
  font-size: 16px;
  width: 70%;
  margin-left: 50px;
  margin-top: 70px;
  margin-right: 80px;
}
#contact{
  background: #001233;
  /*height: 50vh;*/
  padding-bottom: 46px;
  margin-top: 23px;
}

.contact_item{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  color: var(--color2)
}

.contact_text_intro{
  margin-top: 100px;
  font-size: 23px;
  width: 30%;
  margin-left: 180px;
}

.contacter_moi_top{
  font-size: 50px;
  font-weight: 700;
  color: var(--color3)
}

.mes_contacts{
  margin-top: 20px;
  background: #001f33;
  font-size: 16px;
  padding: 2px;
  display: flex;
  justify-content: space-around;
}
a{
  text-decoration: none;
  color: var(--color4)
}

.fermer_ouvrir{
  display: none;
  position: relative;
  justify-content: end;
  flex-direction: row;
  color: #f9f3ea;
  color: #f9f3ea;
  padding-top: 23px;
  margin-right: 23px;
  position: absolute;
  z-index: 2;
}
.ouvrir{
  color: var(--color3);
}
.competence_langage img{
  margin-top: 69px;
  max-width: 100%;
  height: auto;
  background-color: #0d7164;
 }

 /*tablette*/
@media screen and (max-width: 992px){
  .projet_item{
    grid-template-columns: repeat(1, 1fr);
  }
  .competence_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
  }

  .competence_text_item{
    width: 100%;
  }
  
  .competence_text_lang{
    width: 100%;
    margin-top: -50px;
    height: auto;
    display: flex;
    justify-content: center;
  
  }


 
  .experience_competence{
    height: 100px;
    background: var(--color1);
    color: var(--color2);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
    padding-right: 30px;
    margin-bottom: 20px;
    border-radius: 0;
    margin-bottom: 23px;
    font-size: 1.23rem;
  }
  .poste{
    width: 50%;
    color: var(--color3);
    font-size: 1.5rem;
    margin-left: 6rem;
  }
  .apropos_text{
    display: flex;
    flex-direction: column;
  }
  .apropos_text_presentation,
  .apropos_text_parcours{
    width: 100%;
    margin-bottom: 23px;
  }
  .annees, 
  .experience{
    height: 120px;
    font-size: 1.23rem;
  }
  .annees{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .experience{
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    width: 90%;
    margin-right: 0;
  }
 
  /*.parcours_annees:nth-child(4) .skils{
    font-size: 13px;
  }*/
  .annees{
    width: 10%;
    border-radius: 0;
    background-color: #0d7164;
  }
  .parcours_annees{
    display: flex;

    justify-content: center;
    align-items: center;
  }
  .the_menu{
    flex-direction: column;
    width: 100%;
    height: 100vh;
    left:0;
    background-color: #001233;
    justify-content: space-around;
    align-items: center;
    top: 0;
    z-index: 1;
    transform: translateX(-100%);
    position: absolute;
  }

 
  .fermer{
    display: none;
    top: 23px;
    font-size: 23px;
  }
  .ouvrir{
    display: block;
    top: 0px;
    font-size: 23px;
    margin-right: 13px;
    padding-bottom: 13px;
  }
 

  .fermer_ouvrir{
    display: flex;
    justify-content: end;
    flex-direction: row;
    color: #f9f3ea;
    left: 23px;
  }

  .presentation_text_middle{
    font-size: 46px;
    padding-left: 15px;
  }
  .presentation_text_top,
  .presentation_text_bot{
    font-size: 23px;
    padding-left: 15px;
  }

}
  


/*Mobile*/
@media screen and (max-width: 768px){
  .the_menu{
    flex-direction: column;
    width: 100%;
    height: 100vh;
    left:0;
    background-color: #001233;
    justify-content: space-around;
    align-items: center;
    top: 0;
    z-index: 1;
    transform: translateX(-100%);
    position: absolute;
  }

 
  .fermer{
    display: none;
    top: 23px;
    font-size: 23px;
  }
  .ouvrir{
    display: block;
    top: 0px;
    font-size: 23px;
    margin-right: 13px;
    padding-bottom: 13px;
  }
 

  .fermer_ouvrir{
    display: flex;
    justify-content: end;
    flex-direction: row;
    color: #f9f3ea;
    left: 23px;
  }

  .presentation_text_middle{
    font-size: 46px;
    padding-left: 15px;
  }
  .presentation_text_top,
  .presentation_text_bot{
    font-size: 23px;
    padding-left: 15px;
  }
  /*#apropos{
    height: 105vh;
  }*/
  .apropos_text{
    display: flex;
    flex-direction: column;
  }
  .apropos_text_presentation,
  .apropos_text_parcours{
    width: 100%;
    margin-bottom: 23px;
  }
  .annees, 
  .experience{
    height: 120px;
    font-size: 14px;
  }
  .annees{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .experience{
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    width: 90%;
    margin-right: 0;
  }
  .poste{
    font-size: 15px;
    margin-left: 5px;
  }
  .skils{
    font-size: 15px;
  }
  .parcours_annees:nth-child(4) .skils{
    font-size: 13px;
  }
  .annees{
    width: 10%;
    border-radius: 0;
    background-color: #0d7164;
  }
  .parcours_annees{
    display: flex;

    justify-content: center;
    align-items: center;
  }
  #certification{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-top: 20px;
  }

  .certification_zoom img{
    width: 400px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #toggle{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--color3);
    margin-left: -50px;
  }
  /*#competence{
    height: 90vh;
  }*/
  .competence_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
  }
  .competence_text_item{
    width: 100%;
  }
  
  .competence_text_lang{
    width: 100%;
    margin-top: 0px;
    height: auto;
  }
 
  .experience_competence{
    height: 100px;
    background: var(--color1);
    color: var(--color2);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
    padding-right: 30px;
    margin-left: 0;
    margin-bottom: 20px;
    border-radius: 0;
    margin-bottom: 23px;
  }
  .poste{
    width: 100%;
    color: var(--color3)
  }

  .projet{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .projet_item{
    grid-template-columns: repeat(1, 1fr);
  }
  
  .projet_item_projet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color1);
    border-radius: 30px;
    margin-top: 20px;
    color: #001233;
    padding: 20px;
  }
  .projet_description{
    color: #001233;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 23px;
   
  }
  .projet_description img{
    width: 100%;
    height: auto;
  }
  .hidden{
    display: none;
  }
  .prev_bout,
  .next_bout{
    font-size: 16px;
    margin: 0fd;
  }

  .projet_description:nth-child(1) {
    order: 1; /* Inverser l'ordre du premier élément */ 
  }

 .projet_description:nth-child(2) {
    order: 2; /* Inverser l'ordre du deuxième élément */
  }

 .projet_description:nth-child(3) {
    order: 4; /* Inverser l'ordre du troisième élément */
 }
 .projet_description:nth-child(4) {
  order: 3; /* Inverser l'ordre du troisième élément */
 }


  .contacter_moi{
    font-size: 16px;
    width: 100%;
   
  }
  .contacter_moi_top{
    font-size: 48px;
    font-weight: 700;
    color: var(--color3);
    width: 100%;
    padding: 23px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .contact_bottom{
      padding-left: 46px;
  }

  #contact{
    background: #001233;
  }

  .mes_contacts{
    margin-top: 20px;
    background: #001f33;
    font-size: 23px;
    padding: 2px;
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
    
  .contact_item{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    color: var(--color2)
  }
  .contact_text_intro{
    font-size: 23px;
    width: 90%;
    display: none;
    margin-bottom: 0;
    background-color: #0d7164;
  }
  .competence{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 0.75rem; padding-right: 0.75rem;
    padding-top: 2rem;
    background: var(--color2);
    margin-bottom: 2.5rem;
  }

  .competence_langage img{
   margin-top: 0px;
   max-width: 100%;
   height: auto;
   background-color: #0d7164;
  }
}


